/* ============================== root styles ============================== */

:root {
    --main-backgground-color: #84A178;
    --main-text-color: #FCFCFC;
    --secondary-text-color: #131313;
    --timeschedule-text-color: #ABABAB;

    --timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
    
}

/* ============================== body styles ============================== */

body {
    
    background-color: var(--main-background-color);
    
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Seymour One', sans-serif; */

    color: var(--main-text-color);
}

ul, li {
    list-style-type: none;
}

h1, h2, h3, p {
    margin: 0;
}


.container {  
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    
    display: block;
    max-width: 100%;
    height: auto;
}

/* ============================== PRODUCTS styles ============================== */

.products {
    padding-top: 58px;
    padding-bottom: 58px;
    
    display: block;
    width: 100%; 
    margin-left: auto;
    margin-right: auto; 
    background-color: var(--main-background-color);
    background-image: url(../images/backgroud_desktop.jpg); 
    background-size: cover;
    background-position: center;
}

.products-title {
    margin-left: auto;
    margin-right: auto;

    max-width: 350px;
    
    margin-bottom: 300px;
    color: var(--secondary-text-color);
    
    font-weight: 800;
    font-size: 30px;
    line-height: 1.2333;
    letter-spacing: 0.04em;

    text-transform: uppercase;
    text-align: center;
}

.products-title > span {

    font-family: 'Seymour One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2333;
    letter-spacing: 0.06em; 
}

.products-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 29px;

}

.product-item {
    position: relative;

    margin: 0;
    padding: 0;
    
}

.product-card {
    padding-top: 165px;
    padding-bottom: 60px;
    padding-left: 64px;
    padding-right: 64px;
    
    max-width: 370px;
    min-height: 536px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
}

.item-ice-cream {
    background-color: #AEC6A5;
}

.item-coffee {
    background-color: #EFD478;
}

.item-milkshake {
    background-color: #D6936D;
}

.product-photo-position {
    position: absolute;
    top: -150px;
    left: 35px;

    background-color: aqua;
    border-radius: 50%;
}

.item-ice-cream-position {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
}

.item-coffee-position {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}

.item-milkshake-position {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}

.product-item-photo {
    margin: 0;
    border-radius: 50%;

    transform: translateY(-16px);
}


.product-item-title {
    color: var(--secondary-text-color);


    font-weight: 700;
    font-size: 30px;
    line-height: 1.2333;
    letter-spacing: 0.04em;

    text-align: center;
    text-transform: uppercase;
    
    
    margin-bottom: 66px;

}

.product-item-text {

    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
        
    letter-spacing: 0.04em;
    text-align: center;
}


/* ============================== REVIEWS styles ============================== */

/* ++++++++++ Стили слайдера ++++++++++ */

.slider {
    position: relative;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0 18px;
    
}

.slider .slick-dots li.slick-active button {
    background-color: #84A178;
}

.slider .slick-dots button {
    font-size: 0;

    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0px;

    background-color: #D9D9D9;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;

    font-size: 0;
}

.slider .slick-arrow.slick-prev {
    left: 0;
}

.slider .slick-arrow.slick-next {
    right: 0;
}

/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {}

/* Лента слайдов */
.slick-track {
    display: flex;
}

/* Слайд */
.slick-slide {}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {}
.slick-dots li {}

/* Активная точка */
.slick-dots li.slick-active {}

/* Элемент точки */
.slick-dots li button {}

/* ++++++++++++++++++++ Стили для контента в слайдах ++++++++++++++++++++ */

.reviews {
    display: block;
    width: 100%; 
    margin-left: auto;
    margin-right: auto; 
    background-color: var(--main-background-color);
    background-image: url(../images/backgroud_desktop.jpg); 
    background-size: cover;
    background-position: center;
}

.review-item {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.customer-photo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.customer-review-text {
    margin: 0;

    max-width: 968px;

    padding: 43px 73px;

    background: var(--main-backgground-color);
    border-radius: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--main-text-color);
}

.customer-name {
    margin: 0;
    padding: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;

    text-align: center;

    color: var(--secondary-text-color);
}


